:root {
  --primary-color: #4caf50;
  --secondary-color: #c7dec7;
  --background-color: #f3f8f2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

header {
  background: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  max-width: 50%;
  margin: auto;
  padding: 10px;
}

h2,
h3 {
  color: var(--primary-color);
}

.code-box {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  overflow-x: auto;
}

.artigos-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.artigos-flex article {
  flex: 1 1 calc(50% - 10px);
}

article h3 {
  text-align: center;
}

article p {
  text-align: justify;
}

.palavras-chave-projeto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.palavras-chave-projeto span {
  display: inline-block;
  padding: 6px 12px;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}

.lista-autores {
  list-style: none;
  padding: 0;
  margin: 20px 0;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.lista-autores li {
  flex-basis: calc(25% - 10px);
  text-align: center;
  padding: 10px 5px;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: #333;
  border-radius: 5px;
}

.lista-materiais {
  list-style: none;
}

.lista-materiais li {
  padding: 10px 15px;
  margin-bottom: 8px;
  border-radius: 4px;
  border-left: 4px solid var(--primary-color);
  font-size: 1em;
}

.download-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

#video iframe {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px;
  background: var(--secondary-color);
  margin-top: 40px;
}
